:root {
	--color-background: #003049;
	--color-secondary: #669bbc;
}
/*
Posibles colores para el fondo:
#00b4d8 , #0077b6 , #03045e , #8ecae6 , #90e0ef , #023047
*/

body {
	background-color: var(--color-background);
	
}

#mitad-izq {
	background-color: var(--color-secondary);
	width: 50%;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	border-top-right-radius: 175px;
	border-bottom-right-radius: 175px;
	text-align: center;
}

#grid-derec {
	width: 350px;
	height: 250px;
	background-color: var(--color-secondary);
	margin: 80px 40px 80px 40px;
	border-radius: 25px;
	text-align: center;
	align-content: center;
}

#tabla-derecha {
	position: absolute;
	display: table;
}
td{
	align-items: center;
}

#div-tabla {
	width: 50%;
	height: 100vh;
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	width:75px;
	
	filter: brightness(0);
}

#logo {
	width: 450px;
	padding-top: 250px;
	padding-bottom: 100px;
}
a {
	display: flex;
	width: 350px;
	height: 250px;
	background-color: var(--color-secondary);
	margin: 80px 40px 80px 40px;
	border-radius: 25px;
	justify-content: center;
	align-items: center;
}

a:hover {
	box-shadow: inset 0 0 0 5px #84c9f4, 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
	transition: .75s ;
}

#mitad-izq:hover {
	box-shadow:  5px 5px 10px 5px rgba(0, 0, 0, 0.5);
	transition: .75s;
}